<footer class="bg-dark text-center text-white mt-4">
  <div class="container p-3">
    <section class="mb-3">
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/manoj-kumar-jmp/" role="button">
        <i class="fa-brands fa-linkedin"></i> <!-- LinkedIn -->
      </a>
      <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/manojkumar-jmp" role="button">
        <i class="fa-brands fa-github"></i> <!-- GitHub -->
      </a>
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.youtube.com/@shribhaedu" role="button">
        <i class="fa-brands fa-youtube"></i> <!-- YouTube -->
      </a>
      <a class="btn btn-outline-light btn-floating m-1" href="https://x.com/jmp_manoj" role="button">
        <i class="fa-brands fa-twitter"></i> <!-- Twitter -->
      </a>
	  <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
        <i class="fa-brands fa-facebook-f"></i> <!-- Facebook -->
      </a>
    </section>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0,0,0,0.2);">
    © 2025 Copyright: 
    <a class="text-white" href="https://yourcompany.com/">yourcompany.com</a>
  </div>
</footer>

