<header>
   <section id="navigation">
      <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
         <div class="container">
            <a class="navbar-brand" href="https://github.com/manojkumar-jmp" style="color:greenyellow;"> Manoj Kumar</a> 
            <div class=" navbar-default">
               <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                     <a class="nav-link active" href="index.html"> Home </a> 
                  </li>
                  <li class="nav-item"> 
                     <a class="nav-link" href="about.html"> About </a> 
                  </li>
                  <li class="nav-item"> 
                     <a class="nav-link" href="contact.html"> Contact </a> 
                  </li>
               </ul>
            </div>
         </div>
      </nav>
   </section>
</header>