{% extends '_base.html' %}
{% block title %}Home | github-pages-templates{% endblock %}
{% block body %}
<div class="row">
  <div class="col-12 text-left">
    <h1>Home Page</h1>
    <p>Aute eu nisi elit esse proident pariatur adipisicing qui. Sunt tempor esse labore ex magna minim. Laborum nulla amet proident consequat ex elit eu voluptate Lorem. Culpa veniam ex exercitation adipisicing veniam veniam exercitation.</p>
	<p>Nisi elit pariatur proident laboris excepteur exercitation ex eu. Duis incididunt dolore esse quis elit. Cillum consequat excepteur nulla elit adipisicing voluptate sint magna exercitation. Ipsum laborum id culpa ad amet cillum pariatur occaecat laborum. Sit irure sunt commodo ullamco magna velit excepteur exercitation ea.</p>
	<p>Eiusmod consequat enim do laborum tempor quis. Ipsum id consectetur et veniam reprehenderit nostrud duis eu. Cillum commodo minim non elit aliqua. Nisi ex elit sit pariatur laborum adipisicing eu.</p>
	<p>Cillum mollit ipsum laborum id ipsum cupidatat. Minim laboris aute pariatur aute aliquip tempor. Occaecat in tempor mollit duis labore veniam.</p>
	<p>Amet aliquip ad aliqua enim consequat. Lorem ex enim sunt consectetur velit sunt tempor. Culpa ea qui anim sint cillum ea aliquip id duis. Laborum cillum quis proident minim qui eiusmod tempor elit sint.</p>
  </div>
</div>
{% endblock %}